*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: gray;
}

header nav{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div{
    margin: 15px;
}

header nav div:nth-child(2){
    width: 18%;
    display: flex;
    justify-content: space-between;
}

header nav div h2{
    color: white;
}

header nav div a{
    font-size: 18px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
}

header nav div a::after{
    content: "";
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, white, transparent);
    position: absolute;
    left: -100%;
    bottom: 0;
    animation: linea-flow 2s linear infinite;
    opacity: 0;
}

header nav div a:hover::after{
    opacity: 1;
}

@keyframes linea-flow {

    to {
        left: 100%;
    }
    
}

h2:hover{
    transform: scale(1.2);
}